body{
    margin:0;
    font-family:Segoe UI,sans-serif;
    background:#0f172a;
    color:white;
}

#root{
    width:100%;
}

.home{
    width:100%;
}

.hero{
    height:450px;
    background:linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.7)),
    url("https://images.unsplash.com/photo-1547347298-4074fc3086f0?auto=format&fit=crop&w=1600&q=80");
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero h1{
    font-size:60px;
    margin:0;
}

.hero p{
    font-size:20px;
    color:#ddd;
}

.buttons{
    margin-top:30px;
    display:flex;
    gap:20px;
    justify-content:center;
}

.buttons a{
    padding:15px 35px;
    background:#16a34a;
    color:white;
    border-radius:10px;
    text-decoration:none;
    font-weight:bold;
    transition:.3s;
}

.buttons a:hover{
    transform:translateY(-5px);
    background:#22c55e;
}

.about{
    width:1100px;
    max-width:90%;
    margin:70px auto;
    text-align:center;
    line-height:1.8;
}

.cards{
    width:1100px;
    max-width:90%;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(240px,1fr));
    gap:25px;
    padding-bottom:80px;
}

.card{
    background:#1e293b;
    padding:30px;
    border-radius:15px;
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card h2{
    margin-top:0;
}

.card a{
    display:inline-block;
    margin-top:15px;
    color:#22c55e;
    text-decoration:none;
    font-weight:bold;
}