.pages{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  

}
.Headline{
  display: flex;
  align-items: center;
}

h1{
  text-align: center;
}