header {
  text-align: center;
  background-color: rgb(252, 211, 136);
  padding: 30px 20px;
  margin-bottom: 40px;

  h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #333;
    background-color: rgb(252, 211, 136);
  }
}
button{
  margin:3px;
  padding:5px;
  transition: 0.3s;
  border:2px solid wheat;
  background: #ffffff;
}
button:hover{
  border:2px solid rgb(184, 166, 134);
  scale: 1.05;
}
button:active{
  background: #c7c7c7;
  border: 2px solid rgb(184, 166, 134);
  scale: 0.95;
}
.teams{
  display: flex;
  gap:10px;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
  scroll-behavior: smooth;
  position: sticky;
  top: 0;
  background-color: rgb(252, 211, 136);
  z-index: 100;
}
.teams button{
  flex-shrink: 0;
}
.player-card{
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width:200px;
  height:200px;
  margin:20px;
  padding:10px;
  background-color: rgb(252, 211, 136);
}
.goalkeepers{
  margin-top: 20px;
}
img{
  width:180px;
  height:150px;
}
.playersSec{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
h4{
  font-size:16px;
  scale:1.1;
  background-color: rgb(252, 211, 136);
}
*{
  font-family: Arial, Helvetica, sans-serif;
  background-color: wheat;
}